<div id="mydiv">
  <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
  <div id="mydivheader">
  <ul class="nav">
    <li class="nav-item" id="drag">
      <a class="nav-link active"><i class="far fa-dice-d6"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="minimize" ><i class="far fa-window-minimize"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="size" ><i class="far fa-window-maximize"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" ><i class="fas fa-times-circle"></i></a>
    </li>
  </ul>
  </div>
  <div id="content">
  <p>Move</p>
  <p>this</p>
  <p>DIV</p>
</div>
</div>
